@import url('https://fonts.googleapis.com/css?family=Arimo|Dancing+Script|Source+Sans+Pro');
$header-font:'Source Sans Pro', sans-serif;
$body-font:'Arimo', sans-serif;
$body-color: #181818;
$header-color: #EEEEEE;
$text-color: #7F7F7F;
$accent-color: #FF17A7;
$blurb-font-size: .75em;
$all-caps: uppercase;
$header-letter-spacing: .2em;



body {
   background-color: $body-color;
   color: $header-color;
   padding: 5%;
   font-family: $body-font;
   height: 100%;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
}

.logo {
   height: 30px;
   width: auto;
   float:left;

}
.projectName {
   text-transform: $all-caps;
   float:right;
}

.carousel {
  position: relative;
  margin: 70px auto 0;
  width: 100%;
}
.carousel img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
}
.slick-slide {
  height: 70vh;
}

.slick-prev:before, .slick-next:before{
    display:none;
}

.fa-angle-left {
  position: absolute;
  bottom: 75%;
  left: 2%;
  z-index: 100;
}

.fa-angle-right {
  position: absolute;
  bottom: 75%;
  right: 2%;
}

.slick-dots {
  bottom: 220px;
    li button:before {
      font-size: 12px;
      color: $header-color;
      opacity: 1;
    }
}

.slick-dotted.slick-slider {
  margin-bottom: -200px;
}

.page-info {
   width: 90%;
   max-width: 800px;
   margin: 20px auto;
   text-align: center;
   color: $text-color;
   h1 {
     font-size: 2em;
     text-transform: $all-caps;
     color: $header-color;
     letter-spacing: $header-letter-spacing;
     margin-bottom: 5px;
   }
   h3 {
     font-size: .6em;
     text-transform: $all-caps;
     margin-top: 0;
   }
   p {
     font-size: 0.9375em;
   }
   span {
     font-family: 'Dancing Script', cursive;
     text-transform: none;
   }
}

button {
  padding: 10px 30px;
  text-transform: $all-caps;
  border: 2px solid $header-color;
  background: transparent;
  color:$header-color;
  &:hover {
    background-color: $header-color;
    color: $body-color;
  }
}

.second {
  overflow: hidden;
}
.big-image-container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
.piano {
  width: 100%;
  height: auto;
}

.second {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  h3 {
    font-size: 1em;
    text-transform: $all-caps;
    letter-spacing: $header-letter-spacing;
  }
  p {
    font-size: $blurb-font-size;
    color: $text-color;
    line-height: 1.25em;
  }
}


.third img{
    width: 100%;
    height: auto;
  }

.third-image-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.breakout {
  background-color: $header-color;
  color: $body-color;
  margin:0 -100px;
  overflow-x: visible;
  img {
    width: 100%;
    height:20%;
  }
  .breakout-text {
    margin: 0 20%;
    padding: 10% 5%;
    h2 {
      font-size: 1em;
      text-transform: $all-caps;
      letter-spacing: $header-letter-spacing;
    }
    p {
      font-size: $blurb-font-size;
      color: $text-color;
      line-height: 1.25em;
    }
  }
}

.small-line {
  width: 15%;
  height:0.5px;
  background-color: $text-color;
  display: block;
}

  .caption {
    h4 {
      color: $header-color;
      text-transform: $all-caps;
      letter-spacing: $header-letter-spacing;
      font-size: .6em;
    }
    p {
      color: $text-color;
      font-size: .5em;
    }
  }

  .fifth {
    text-align: center;
    padding-bottom: 10px;
    h1 {
      font-size: 2em;
      text-transform: $all-caps;
      color: $header-color;
      letter-spacing: $header-letter-spacing;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
    h3 {
      color: $header-color;
      text-transform: $all-caps;
      letter-spacing: $header-letter-spacing;
      font-size: .75em;
    }
    p {
      color: $text-color;
      font-size: .5em;
    }
  }


  .sixth {
    width: 100%;
    .sidepanel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      float:left;
      .caption {
        margin-bottom: 10px;
      }
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      float: right;
      overflow: hidden;
        img:nth-child(1) {
          width:100%;
          height: 100%;
          padding:1%;
        }
        img:nth-child(n+2) {
          width:48%;
          height: 100%;
          padding:1%;

        }
    }
  }

.seventh {
  border-top: 1px solid $text-color;
  clear: both;
  text-align: center;
  h2 {
    font-size: 1.5em;
    text-transform: $all-caps;
    color: $header-color;
    letter-spacing: $header-letter-spacing;
    margin-bottom: 5px;
    padding-bottom: 0;
  }
  p {
    color: $text-color;
    font-size: .75em;
    margin: 0 0 40px;
  }
}
.sec7images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  img {
    width: 95%;
    height: auto;
    margin:2px;
  }
  h6 {
    font-size: .6em;
    text-transform: $all-caps;
    color: $header-color;
    letter-spacing: $header-letter-spacing;
    margin: 0 0 5px;
    padding-bottom: 0;
  }
  p {
    color: $text-color;
    font-size: .6em;
    margin: 0 0 10px;
  }
}
figure {
  width: 50%;
  margin: 0;
}
figcaption {
  padding: 0;
  margin: 0 0 20px;
}

@media (max-width: 600px) {
  .breakout img {
    display: none;
  }
}

@media (min-width: 601px) {

  .fa-angle-left {
    position: absolute;
    bottom: 50%;
    left: 2%;
    z-index: 100;
  }

  .fa-angle-right {
    position: absolute;
    bottom: 50%;
    right: 2%;
  }

  .slick-dots {
    bottom: 15px;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }


  .third img:nth-child(n+2){
      width: 48%;
      height: auto;
      margin: 1em 0;
    }
  .third img:nth-child(3) {
    padding-right: 0;
  }
  .breakout {
    display: flex;
    overflow-x: hidden;

    .breakout-text {
      width: 30%;
      float: left;
      margin: 0;
    }
    img {
      width: 55%;
      padding: 2%;
    }
  }
  .fifth {
    clear:both;
    h3 {
      font-size: 1em;
    }
    p {
      font-size: .75em;
    }
    img {
      width: 80%;
      max-width: 800px;
    }
  }
  .sidepanel {
    padding-top: 40px;
  }
  .caption {
    padding-right: 30px;
    h4 {
      color: $header-color;
      text-transform: $all-caps;
      letter-spacing: $header-letter-spacing;
      font-size: .75em;
    }
    p {
      color: $text-color;
      font-size: .6em;
    }
  }
  .sixth {
    width: 80%;
    margin: 50px auto;
    max-width: 800px;
  }
}
