@import url('https://fonts.googleapis.com/css?family=Arimo|Dancing+Script|Source+Sans+Pro');
$header-font:'Source Sans Pro', sans-serif;
$body-font:'Arimo', sans-serif;
$body-color: #181818;
$accent-white: #EEEEEE;
$text-color: #7F7F7F;
$blurb-font-size: .75em;
$all-caps: uppercase;
$header-letter-spacing: .2em;



body {
   background-color: $body-color;
   color: $accent-white;
   padding: 5%;
   font-family: $body-font;
}

.content-wrapper {
  margin: 0 auto;
  // overflow: hidden;
  width: 100%;
}
.carousel {
  width: 70%;
}

.carousel img {
  height: 350px;
  width: 450px;
}

.logo {
   height: 30px;
   width: auto;
   float:left;

}
.projectName {
   text-transform: $all-caps;
   float:right;
}

.slick-slide {
   height:400px;
  //  width: 70%;
   margin: 200px auto;
}

.slick-prev:before, .slick-next:before{
    color:red;
    position: absolute;
}


.page-info {
   width: 90%;
   max-width: 800px;
   margin: 20px auto;
   text-align: center;
   color: $text-color;
   h1 {
     font-size: 2em;
     text-transform: $all-caps;
     color: $accent-white;
     letter-spacing: $header-letter-spacing;
     margin-bottom: 5px;
   }
   h3 {
     font-size: .6em;
     text-transform: $all-caps;
     margin-top: 0;
   }
   p {
     font-size: 0.9375em;
   }
   span {
     font-family: 'Dancing Script', cursive;
     text-transform: none;
   }
}

button {
  padding: 10px 30px;
  text-transform: $all-caps;
  border: 2px solid $accent-white;
  background: transparent;
  color:$accent-white;
  &:hover {
    background-color: $accent-white;
    color: $body-color;
  }
}

.second {
  overflow: hidden;
}
.big-image-container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
.piano {
  width: 100%;
  height: auto;
}

.second {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  h3 {
    font-size: 1em;
    text-transform: $all-caps;
    letter-spacing: $header-letter-spacing;
  }
  p {
    font-size: $blurb-font-size;
    color: $text-color;
    line-height: 1.25em;
  }
}

.third img{
    width: 100%;
    height: auto;
    padding: .25em;
  }

.breakout {
  background-color: $accent-white;
  color: $body-color;
  margin:0 -100px;
  overflow-x: visible;
  img {
    width: 100%;
    height:20%;
  }
  .breakout-text {
    margin: 0 20%;
    padding: 10% 5%;
    h2 {
      font-size: 1em;
      text-transform: $all-caps;
      letter-spacing: $header-letter-spacing;
    }
    p {
      font-size: $blurb-font-size;
      color: $text-color;
      line-height: 1.25em;
    }
  }
}

.small-line {
  width: 15%;
  height:0.5px;
  background-color: $text-color;
  display: block;
}


@media (max-width: 500px) {
  .breakout img {
    display: none;
  }
}
